body {
    margin:0px;
    text-align:center;
    overflow-x: hidden;
}
button {
    box-shadow: 1px 1px 3px 0px #00000033;
    border-radius:3px;
    border:none;
}
#inputContainer {
    padding-top:10px;
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    max-width:100%;
}
.mobile > #boxwrapper > #inputContainer {
    padding-top:0px;
}
#input {
    opacity:1;
    font-family:"Roboto Mono";
    font-size:2em;
    box-shadow: 1px 1px 6px 1px #00000055;
    outline:none;
    background:#FEFEFE;
    border:none;
    border-radius:10px;
    padding:0.1em;
    position:sticky;
    top:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.mobile > #boxwrapper > #inputContainer > #input {
    border-radius:0px;
    box-shadow: 0px 6px 4px -4px #00000055;
    width:100%;
    max-width:100%;
}
#input:focus {
    box-shadow: 1px 1px 8px 1px #00000077;
}
#box {
    text-align:left;
    display:inline-flex;
    box-sizing:content-box;
    justify-content:center;
}
#boxwrapper {
    margin: 0 auto;
    max-width:40em;
    box-sizing:content-box;
    width:100vw;
    min-width:10em;
}
.mobile > #boxwrapper {
    max-width:100%;
}
#output {
    overflow-y:auto;
    font-family:"Roboto Mono";
    padding-top:10px;
    text-align:left;
    margin-top:0.5em;
    display:inline-block;
    font-size:1.2em;
    margin-left:5%;
    width:88%;
    overflow-wrap:break-word;
}
.error {
    color:#aa0000;
}
#graph {
    filter:blur(0.2px);
    position:absolute;
    pointer-events:none;
    top:0;
    left:0;
}
.histItem {
    margin-bottom:0.5em;
}
#panel {
    padding:1em;
    width:35vw;
    min-width:calc(min(4in,100vw));
    max-width:30em;
    font-family:"Roboto Mono";
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    background:#FEFEFE;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:left;
    box-shadow: 1px 1px 10px 5px #00000033;
    display:none;
    z-index:10;
}
.panelPage {
    width:100%;
    height:100%;
    display:none;
    overflow-y:auto;
}
#helpSearchBox {
    width:100%;
    border-radius:5px;
    padding:5px;
    box-shadow: 2px 1px 5px 0px #00000033;
    margin:3px 0px 3px 0px;
    border:none;
}
.searchResultTags {
    float:right;
    font-size:0.5em;
    text-align:right;
}
.buttonList {
    border-radius:5px;
    overflow:hidden;
}
.buttonList > button {
    width:100%;
    display:block;
    border:none;
    background:#FFFFFF;
    text-align:left;
    font-size:1.25em;
    outline:none;
    font-family:Roboto Mono;
    border-radius:0px;
}
.buttonList > button:not(:last-child) {
    border-bottom: #88888888 1px dashed;
}
.buttonList > button:hover {
    background:#88888833;
}
.buttonList > button:focus {
    background:#88888844;
}
.tableborder {
    border-collapse:collapse;
}
.tableborder > tbody > tr > td {
    border:#88888844 1px solid;
    padding:2px;
}
.tableborder > thead > tr > td {
    border:#88888844 1px solid;
    padding:2px;
    font-weight:bold;
}
.menuOpenButton {
    font-size:1.5em;
    font-weight:bold;
    width:1.5em;
    height:1.5em;
    background:#88888833;
    border:none;
    text-align:center;
    vertical-align:bottom;
    padding:0px;
    margin:0px;
    border-radius:0px;
    box-shadow:none;
}
.menuOpenButton:not(:first-child) {
    border-left: #00000044 1px dashed;
}
.menuOpenButton:hover {
    background:#88888855;
}
#menubuttons {
    position:fixed;
    right:0;
    bottom:0;
    border-radius:10px 0 0 0;
    vertical-align:bottom;
    overflow:hidden;
    box-shadow:-1px -1px 3px 0px #00000033;
    z-index:20;
}
a {
    text-decoration:none;
}
button {
    outline:none;
}
/* Syntax Highlighting */
.syn-error, .syn-invalid, .syn-errorop, .syn-undefined {
    color:#aa0000;
}
.syn-number {
    color:#222222;
    font-weight:bold;
}
.syn-variable, .syn-builtin {
    color:#a58700;
}
.syn-operator {
    color:#444;
}
.syn-command {
    color:#519aba;
}
.syn-comment {
    color:#009900;
}
.syn-bracket {
    color:#000;
}
.syn-string {
    color:#dd7933;
}
.syn-escape {
    color:#dd9944;
}
.syn-custom {
    color:rgb(48, 143, 143);
}
.syn-argument {
    color:rgb(17, 155, 113);
}
.syn-unit {
    color:rgb(22, 167, 89);
}