@charset "UTF-8";
body {
    color:#FFF;
}
body {
    background:#222;
}
#input {
    background:#282828;
    color: #FFF;
}
#panel {
    background:#282828;
}
.buttonList > button {
    background: #333;
}
#helpSearchBox {
    background: #333;
}
button {
    background:#333;
    color: #FFF;
}
a {
    color: #3333EE;
}
a:visited {
    color:#772F9B;
}
a:hover {
    color:#4444FF;
}
a:visited:hover {
    color:#993ACB;
}
.svgpath {
    fill:#FFF;
}
.error {
    color:#FF3333;
}
/*Syntax Highlighting*/
.syn-bracket {
    color:#FFF;
}
.syn-number {
    color:#FFF;
}
.syn-variable, .syn-builtin {
    color:#fffb00;
}
.syn-error, .syn-invalid, .syn-errorop, .syn-undefined {
    color:#FF3333;
}
.syn-operator {
    color:#AAA;
}